body {
  overflow-y: hidden;
}

.btn {
  width: auto;
  height: auto;
  padding: 0;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  border-color: transparent;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.btn:focus {
  outline: none;
}
.btn-primary {
  min-width: 217px;
  min-height: 44px;
  height: 44px;
  margin: 0 auto 0 0;
  padding: 0 20px;
  -webkit-box-shadow: 0 2px 10px 0 #afafaf;
  box-shadow: 0 2px 10px 0 #afafaf;
  border: none;
  cursor: pointer;
  background: linear-gradient(-80deg, #3f98ff 0%, #1870d4 100%);
}
.btn-primary:hover {
  background-color: #1870d4;
}
.btn-clear {
  min-width: 50px;
  height: auto;
  margin: 0;
  padding: 2px 15px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  color: #a3a3a3;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-clear:hover {
  border-color: #a3a3a3;
}
.btn-control {
  margin-top: 33px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.btn-active {
  color: #0073ff;
}
.btn:disabled {
  opacity: 0.5;
}
.icon {
  fill: #a3a3a3;
}
.icon.selected {
  fill: #0073ff;
}
.menuIcon g {
  fill: #787878;
}
input {
  display: inline-block;
  background-color: transparent;
  border: none;
  font-size: 16px;
}
input:focus {
  outline: none;
}
.btn-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-image: linear-gradient(281deg, #3f98ff, #0077ff);
  -webkit-box-shadow: 0 2px 10px 0 #afafaf;
  box-shadow: 0 2px 10px 0 #afafaf;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
  cursor: pointer;
}
.btn-menu span {
  position: relative;
  margin: auto;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 36px;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.btn-menu:hover {
  background-image: none;
  background-color: #1870d4;
}
.btn-menu:focus,
.btn-menu:active {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  min-height: 44px;
  margin-top: 50px;
  width: 100%;
}
.panel__left {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
}
.panel__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 auto;
}
.panel__right .btn {
  margin-left: 10px;
  cursor: pointer;
}
.panel img {
  display: block;
  width: 18px;
  height: 18px;
}
.panel__list {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.panel__list li {
  margin-right: 50px;
  font-size: 14px;
}
.container-search {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 330px;
  height: auto;
  overflow: hidden;
}
.container-search .btn {
  position: relative;
  z-index: 20;
  margin-bottom: 10px;
}
.container-search.open .search {
  left: 0;
}
.container-search.open .search__icon g {
  fill: #0073ff;
}
.search {
  position: absolute;
  left: -100%;
  min-width: 300px;
  height: 100%;
  border-bottom: 2px solid #0073ff;
  -webkit-transition: right 0.3 linear 0s;
  transition: right 0.3 linear 0s;
}
.search input {
  width: 100%;
  height: 100%;
  padding-right: 30px;
  color: #0073ff;
}
.search__icon g {
  fill: #a3a3a3;
}
.search-res {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 11px 20px;
  border: solid 2px #0073ff;
  border-radius: 30px;
  background-color: #e9f3ff;
  color: #0073ff;
}
.search-res .btn {
  height: 14px;
  width: 14px;
  margin-bottom: 0;
  border: none;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDEyIDEyIj4NCiAgICA8cGF0aCBmaWxsPSIjMDA3M0ZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMiAxLjIwOUwxMC43OTEgMCA2IDQuNzkxIDEuMjA5IDAgMCAxLjIwOSA0Ljc5MSA2IDAgMTAuNzkxIDEuMjA5IDEyIDYgNy4yMDkgMTAuNzkxIDEyIDEyIDEwLjc5MSA3LjIwOSA2eiIvPg0KPC9zdmc+DQo=');
  background-size: 12px 12px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.filter {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.filter__icon {
  fill: #a3a3a3;
}
.filter .btn:hover .filter__icon,
.filter .btn:focus .filter__icon {
  fill: #0073ff;
}
.filter__menu {
  position: absolute;
  left: -200px;
  top: 27px;
  width: 200px;
  padding: 0 12px 11px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 6px 0 rgba(175, 175, 175, 0.5);
  box-shadow: 0 2px 6px 0 rgba(175, 175, 175, 0.5);
}
.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.filter li {
  margin: 20px 0 0 0;
}
.filter li > * {
  display: block;
  text-align: right;
  text-decoration: none;
  font-size: 16px;
  color: #787878;
}
.filter li > *:hover,
.filter li > *.selected {
  color: #0073ff;
}
#root {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #f8f8f8;
  color: #787878;
}
.page {
  width: 100%;
  padding: 40px 49px;
  overflow: auto;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #f8f8f8;
  color: #787878;
}
#sideMenu{
  position:relative;
}
.sidemenu_Toggle{
  background: url("../img/left_icon.png") no-repeat 9px 7px #f6f6f6;
  border: 0px;
  width: 26px;
  height: 26px;
  color: #fff;
  position: absolute;
  right: 5px;
  background-size: 7px;
  outline: none;
  cursor: pointer;
  top: 4px;
}

.toggle_collapsed {
  right: 17px !important;
}
.sidemenu_Hide .sidemenu_Toggle{
  background: url("../img/right_icon.png") no-repeat 11px 7px #f6f6f6;
  background-size: 7px;
}
.sidemenu_Hide {
  width: 61px !important;
  min-width: 60px !important;
}
.ScenarioNav-navRouteText-36 {
  margin-left: 0 !important;
}
.MuiListItemText-root-80 {
  padding: 0 10px !important;
}

.MuiMenuItem-root-68{
  opacity: .75;
}
.sidemenu_Hide .ScenarioNav-scenarioName-38 {
  display: none !important
}
.sidemenu_Hide .MuiTypography-subheading-47 {
  display: none;
}
.panel_btm#btnSpan {
  height: 0px;
}
.test123 {
  position:relative;
}

@media only screen and (max-width: 1024px) {
  .page {
    padding: 40px 20px;
  }
}
.page h1 {
  min-height: 40px;
  color: #0077ff;
}
.title {
  width: 100%;
  margin: 0;
  font-size: 26px;
  text-align: left;
  font-weight: 400;
}
.page__holder {
  -webkit-box-flex: 100;
  -webkit-flex: 100 0 100%;
  -ms-flex: 100 0 100%;
  flex: 100 0 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.container-menu {
  margin-top: 40px;
  margin-bottom: -100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.menu__name {
  display: none;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  padding: 5px 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(175, 175, 175, 0.5);
  box-shadow: 0 2px 4px 0 rgba(175, 175, 175, 0.5);
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  color: #0077ff;
  text-align: center;
  border-radius: 20px;
}
.menu .menuIcon g {
  fill: #a3a3a3;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.menu__item {
  position: relative;
  margin-right: 20px;
  text-align: center;
}
.menu a {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  color: #787878;
  text-decoration: none;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.menu a:hover,
.menu a.selected {
  text-decoration: none;
  color: #0077ff;
}
.menu a:hover .menu__name,
.menu a.selected .menu__name {
  display: block;
}
.menu a:hover .menuIcon g,
.menu a.selected .menuIcon g {
  fill: #0077ff;
}
.menu__item:hover .menu__icon {
  fill: #0073ff;
}
.menu .image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin: auto auto 10px;
  padding: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 10px 0 #afafaf;
  box-shadow: 0 2px 10px 0 #afafaf;
  background-size: 50px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 100;
  -webkit-flex: 100 100 100%;
  -ms-flex: 100 100 100%;
  flex: 100 100 100%;
  color: #787878;
  text-align: center;
}
.left {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.right {
  -webkit-box-flex: 2;
  -webkit-flex: 2 2 0%;
  -ms-flex: 2 2 0%;
  flex: 2 2 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.right > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
}
.right > *:last-child {
  min-width: 45px;
  text-align: right;
}
.table-container {
  position: fixed;
  left: 70px;
  right: 20px;
  top: 20px;
  bottom: 20px;
  z-index: 50;
  padding: 40px 35px;
  -webkit-box-shadow: 0 2px 20px 0 #bcbcbc;
  box-shadow: 0 2px 20px 0 #bcbcbc;
  background-color: #ffffff;
  border: solid 1px #e1e1e1;
}
.table-container header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 37px;
}
.table-container h2 {
  margin: 0;
  font-weight: 400;
  font-size: 26px;
}
.preview {
  width: 100%;
  margin-top: 59px;
}
.preview-header__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.preview-header__list li {
  margin-right: 60px;
}
.table {
  width: 100%;
  height: 100%;
}
.table__content {
  display: table;
  width: 100%;
}
.table__row {
  display: table-row;
  border-bottom: 1px solid #e4e4e4;
}
.table__row span {
  display: table-cell;
  padding: 14px 7px;
  vertical-align: middle;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  padding: 14px;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  font-size: 12px;
  background-color: #fff;
}
.table__row:not(.table__header) .holder {
  background-color: transparent;
  border-right: 0;
}
.table__header {
  background-color: #e9f3ff;
  border-bottom: 1px solid #e4e4e4;
}
.table__header span {
  padding: 10px 14px;
  background-color: #e9f3ff;
}
.table .holder {
  width: 30px;
}
.table .holder img {
  display: block;
  height: 20px;
}
.table .btn {
  height: 20px;
}
.selected {
  color: #0073ff;
}
.orders-list {
  width: 100%;
  margin-top: 30px;
}
.orders-list .image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
}
.orders-list .size {
  width: 100%;
  text-align: left;
}
.orders-list .date {
  width: 150px;
  min-width: 100px;
  text-align: left;
}
.orders-list .image {
  min-width: 70px;
}
.orders-list .type {
  max-width: 120px;
  width: 100%;
  margin-right: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.orders-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  padding: 0 32px 0 32px;
}
.orders-header .right {
  width: 40%;
  -webkit-box-flex: inherit;
  -webkit-flex: inherit;
  -ms-flex: inherit;
  flex: inherit;
}
.orders-header .right:last-child {
  min-width: 45px;
  text-align: right;
}
.order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 16px;
  padding: 20px 32px;
  -webkit-box-shadow: 0 2px 6px 1px #cccccc;
  box-shadow: 0 2px 6px 1px #cccccc;
  border-radius: 4px;
  background-color: #fff;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.order-preview {
  height: calc(100% - 100px);
  margin-bottom: 20px;
  -webkit-box-shadow: 0 2px 20px 0 #e8e8e8;
  box-shadow: 0 2px 20px 0 #e8e8e8;
}
.order h6 {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 1024px) {
  .order h6 {
    max-width: 200px;
  }
}
.order-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.order .right {
  width: 40%;
  -webkit-box-flex: inherit;
  -webkit-flex: inherit;
  -ms-flex: inherit;
  flex: inherit;
}
.order .left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 10px;
}
.order .btn-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('data:image/svg+xml;base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMHB4IiBoZWlnaHQ9IjE3cHgiIHZpZXdCb3g9IjAgMCAxMCAxNyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4NCiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDQ5LjMgKDUxMTY3KSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4NCiAgICA8dGl0bGU+U2hhcGU8L3RpdGxlPg0KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPg0KICAgIDxkZWZzPjwvZGVmcz4NCiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4NCiAgICAgICAgPGcgaWQ9IjExIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtMTMzNC4wMDAwMDAsIC01ODQuMDAwMDAwKSIgZmlsbD0iI0EzQTNBMyI+DQogICAgICAgICAgICA8cG9seWdvbiBpZD0iU2hhcGUiIHBvaW50cz0iMTMzNCA1OTkuMDAyNSAxMzQwLjE4MDg0IDU5Mi41IDEzMzQgNTg1Ljk5NzUgMTMzNS45MDI4MyA1ODQgMTM0NCA1OTIuNSAxMzM1LjkwMjgzIDYwMSI+PC9wb2x5Z29uPg0KICAgICAgICA8L2c+DQogICAgPC9nPg0KPC9zdmc+');
  background-repeat: no-repeat;
  background-size: 10px 17px;
}
.order:hover,
.order.selected {
  -webkit-box-shadow: 0 2px 6px 1px #a5c6ed;
  box-shadow: 0 2px 6px 1px #a5c6ed;
  cursor: pointer;
}
.import {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  width: 100%;
}
.import__holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding: 40px 40px 20px 40px;
  -webkit-box-shadow: 0 0 20px 2px #bcbcbc;
  box-shadow: 0 0 20px 2px #bcbcbc;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
}
.import-menu {
  margin-left: 50px;
}
.import h3 {
  min-height: 27px;
  margin: 0 0 44px 0;
  font-size: 22px;
  font-weight: 400;
}
.import h5 {
  margin-bottom: 0 0 33px 0;
  font-size: 14px;
  font-weight: 500;
  color: #787878;
  text-transform: uppercase;
}
.import .uppy {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  border-style: solid !important;
  border-width: 2px !important;
  border-color: #a3a3a3 !important;
  border-radius: 4px;
  -webkit-transition: all 0.1s linear 0s;
  transition: all 0.1s linear 0s;
}
.import .uppy:hover {
  border-color: #0077ff !important;
  border-style: dashed !important;
}
.import .btn-control .btn {
  padding: 5px 10px;
  margin-left: 20px;
  border: none;
}
.import .btn-control .btn:hover {
  border: none;
  color: #0077ff;
}
.import .uppy-DragDrop-dragText {
  display: block;
  color: #0077ff !important;
}
.import .DragDrop-loader {
  border-color: #0077ff !important;
  background-color: #e9f3ff !important;
}
.import .DragDrop-loader .uppy-DragDrop-label {
  display: none !important;
  font-weight: 500;
}
.uppy-DragDrop-inner svg {
  display: none !important;
}
.MuiListItemText-root-86 {
  padding-right: 0 !important;
}
[class*='MuiListItemText-root']:first-child {
  padding-right: 0;
  padding-left: 0;
}
.file-preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  width: 100%;
  margin: auto;
  border-radius: 4px;
  border: solid 2px #0077ff;
  background-color: #e9f3ff;
  color: #0077ff;
}
.file-preview img {
  display: block;
  margin: 0 0 14px 0;
  text-align: center;
}
.file-preview span {
  font-size: 16px;
  color: #0077ff;
}
.file-preview h6 {
  font-size: 18px;
  font-weight: 500;
}
.modal {
  position: fixed;
  right: 0;
  top: 120px;
  left: 300px;
  width: calc(100vw - 350px);
  height: calc(100vh - 280px);
}
.modal .import {
  height: 100%;
}
.modal .import__holder {
  max-height: none;
}
.modal-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}
.drag-drop-holder {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.drag-drop-holder > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.sort-item {
  cursor: pointer;
}
.orders-header .left,.order-container .order .left{
  flex: 1 1 80%;
}